body{
  background-image: linear-gradient();
  height:870px;
  width:1620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
ul{
  list-style-type: none;
}
.top{
  list-style-type:none;
  background-color:black;
  height:45px;
}
li{
  background-color: black;
}

li a{
  display: inline-flex;
text-decoration: none;
float: left;
height: 15px;
padding: 15px;
}
h1{
  text-align: center;
  text_color: FFFFFF;
}
p1{
  font-family:inherit;
}
img{
  width:1500px;
height:500px;
}
